<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
          <span>
              <img alt="image" class="img-circle" width="80px"
                   src="./assets/img/IG.JPG" />
          </span>
            <li>
                <a>
                    <i class="fa"></i>  Administration Professeurs
                </a>
            </li>
        </ul>
    </nav>
</div>
