<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Liste Cours</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Professeur</th>
                                    <th>Etudiants</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor = "let c of cours" (click)="choixCours(c);afficheSessions(c)">
                                      <td> {{ c.nom }} </td>
                                      <td> {{ c.professeur }} </td>
                                      <td> {{ c.etudiants }} </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
            </div>
        </div>
        <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Liste Sessions {{var_nom}}</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>Dates</th>
                                </tr>
                                </thead>
                                <tbody *ngFor = "let sC of sessions_cours">
                                  <tr *ngFor = "let sCDates of sC.dates">
                                      <td> {{ sCDates }} </td>
                                      <td>
                                          <button (click)="supprSession(sC,sCDates)">Supprimer</button>
                                      </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="ibox-title">
                            <h5>Ajout Session</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins" *ngFor = "let sC of sessions_cours">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td> <input type="text" [(ngModel)]="var_date_session"></td>
                                    <td>
                                        <button (click)="ajoutSession(sC,var_date_session)">Ajouter</button>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Modification Cours</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-hover no-margins">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Professeur</th>
                                        <th>Etudiants</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor = "let cD of cours_Desc">
                                        <td> <input type="text" [(ngModel)]="var_nom"></td>
                                        <td> <input type="text" [(ngModel)]="var_prof"></td>
                                        <td> <input type="text" [(ngModel)]="var_et"></td>
                                        <td> <input type="textarea" [(ngModel)]="var_desc"></td>
                                        <td>
                                            <button (click)="modCours(cD,var_nom,var_prof,var_et,var_desc)">Modifier</button>
                                        </td>
                                        <td>
                                            <button (click)="supprCours(cD)">Supprimer</button>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                </div>


        </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Ajout Cours</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Professeur</th>
                                                <th>Etudiants</th>
                                                <th>Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td> <input type="text" value="{{ cD.nom }}" [(ngModel)]="varA_nom"></td>
                                                <td> <input type="text" value="{{ cD.professeur }}" [(ngModel)]="varA_prof"></td>
                                                <td> <input type="text" value="{{ cD.etudiants }}" [(ngModel)]="varA_et"></td>
                                                <td> <input type="textarea" value="{{ cD.desc }}" [(ngModel)]="varA_desc"></td>
                                                <td>
                                                    <button (click)="ajoutCours(cD,varA_nom,varA_prof,varA_et,varA_desc)">Ajouter</button>
                                                </td>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>
                        </div>


                </div>
                        </div>
</div>
